<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <logger name="RunLogger">
      <level value="DEGUG"/>
      <appender-ref ref="RunLogFileAppender"/>
    </logger>
    <appender name="RunLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="运行日志\"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Date"/>
      <datePattern value='yyyy-MM-dd/"日志.txt"'/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%-5p] : %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>